{% extends "base.jinja" %}
{% block content %}
<form action="/music/{{ song.id }}/edit_song" method="post">
    <div>
        <label for="title">Song Title:</label>
        <input  type="text"
                id="title"
                name="title"
                required
                autofocus
        />
    </div>
    <div>
        <label for="duration">Duration:</label>
        <input  type="number"
                id="duration"
                name ="duration"
                required
        />
    </div>
    <div>
        <label for="genre">Genre:</label>
        <select name="genre"
                id="genre" >
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="RnB">RnB</option>
                <option value="Ballad">Ballad</option>
        </select>
    </div>
    <button type="submit">Update Song</button>
</form>
<form action="/music/{{song.id}}/delete" method="post">
    <button type="submit">Delete Me</button>
</form>
{% endblock %}