{% extends "base.jinja" %}

{% block content %}
{% for artist in artists %}
  <div class="artist">
    <div class="artist__content">
      <div class="artist__description">
        <a href="/artists/{{artist.id}}">{{artist.artist_name}}</a>
        <span class="artist__alive">{{artist.alive}}</span>
      </div>
    </div>
</div>
{% endfor %} {% endblock %}
