{% extends "base.jinja" %}
{% block content %}
    <form action="/music/new_song" method="post">
    
    <div>
        <label for="title">Song Title</label>
    
        <input type="text" id="title" name="title" required autofocus>
    </div>
    <div>
        <label for="duration">Duration</label>
    
        <input type="number" id="duration" name="duration" required>
    </div>
    <div>
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="R&B">R&B</option>
            <option value="Ballad">Ballad</option>
        
        </select>
    </div>
    <div>
        <label for="artist_id">Artist</label>
        <select name="artist_id" id="artist_id">
            {% for artist in artists %}
                <option value="{{artist.id}}">{{ artist.artist_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit">Add Task</button>
    </div>
    
    </form>
{% endblock %}